<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <title>{% block title %}baseTitle{% endblock %} | PFC</title>
        {% block stylesheets %}{% endblock %}
        {% block rss %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('PFC_icons/1_Desktop_Icons/icon_016.png') }}" />
    </head>
    <body>
        <div id="contenedor">
            {% block body %}{% endblock %}
            <footer>
                &copy; {{ 'now'|date('Y') }}
                <a href="{{ path('portada')                                     }}">Portada                 </a>
                <a href="{{ path('pagina_estatica',{'pagina':'sobre'})          }}">Sobre Nosotros          </a>
                <a href="{{ path('contacto')                                    }}">Contacto                </a>
                <a href="{{ path('usuario_registro')                            }}">Registro                </a>
                <a href="{{ path('pagina_estatica',{'pagina':'activar'})        }}">Activar                 </a>
                <a href="{{ path('usuario_login')                               }}">Login                   </a>
                <a href="{{ path('usuario_perfil')                              }}">Perfil                  </a>
                <a href="{{ path('usuario_logout')                              }}">Cerrar                  </a>
            </footer>               
                <a href="{{ path('proves')                                      }}">proves                  </a>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>