Hola {{ name }}!
<br />
Gravatar {{ vector.gravatarhash }}
<img src="{{ vector.gravatarurl~vector.gravatarhash }}" />
<p>{{ vector.data }}</p>
<p>+{{ vector.fecha }}+</p>
{#
<p>{{ vector.user1 }}</p>
<p>{{ vector.data1 }}</p>
<p>{{ vector.data2 }}</p>
<p><pre>{{ vector.request }}</pre></p>
#}
