{% extends '::frontend.html.twig' %}
 
{% block title %}viajeOO{% endblock %}

{% block article %}
<p><h1>Todos los viajes</h1></p>
 
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Usuario</th>
        </tr>
    </thead>
 
    <tbody>
        {% for viaje in viajes %}
            <tr>
                <td title="{{ viaje.id }}">{{ loop.index }}</td>
                <td>{{ viaje.nombre }}</td>
                <td>{{ viaje.fecha | date('d/m/Y H:i:s') }}</td>
                <td>{{ viaje.usuario }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
