{% extends '::frontend.html.twig' %}

{% block title 'Activar Cuenta' %}
    
{% block article %}
    
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="flash-message">{{ flashMessage }}</div>
    {% endfor %}    
        
    <h2>Introducir código para activar la cuenta.</h2> 
    
    <form action="{{ path('pagina_estatica',{ 'pagina': 'activar' }) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_row(form.codigo, {'label': 'Código:'}) }}
        {{ form_rest(form) }}
            
        <input class="boton" type="submit" value="Activar Cuenta" />        
    </form>
        
{% endblock article %}

{% block aside %}{% endblock aside %}