{# el usuario está logueado #}
{% if is_granted('ROLE_USUARIO') %}

    <nav>
        <ul>
            <li><a href="{{ path('usuario_logout')  }}" title="Cerrar"><img id="cerrar" src="{{ asset('bundles/inicio/images/cerrar.png') }}" alt="Cerrar"/></a></li>
            <li><img src="{{ gravatar(app.user.username, 35, 'g', 'identicon') }}" /></li>
            <li><a href="{{ path('usuario_perfil')  }}" title="Mi perfil"><b>{{ app.user }}</b></a></li>
        </ul>
    </nav>
    
{# el usuario todavía no ha hecho login #}
{% else %} 

    <nav>
        <ul>
            <li><a href="{{ path('usuario_login')  }}" title="Acceder"><img src="{{ asset('bundles/inicio/images/acceder.png') }}" alt="Acceder"/></a></li>
        </ul>
    </nav>

{% endif %}
