{% extends '::frontend.html.twig' %}

{% block title 'Código' %}
    
{% block article %}
    
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="flash-message">{{ flashMessage }}</div>
    {% endfor %}    
        
    <h2>Introducir código.</h2> 
    
    <form action="{{ path('pagina_estatica',{ 'pagina': 'codigo' }) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_row(form.codigo, {'label': 'Código:'}) }}
        {{ form_rest(form) }}
            
        <input class="boton" type="submit" value="Aceptar" />        
    </form>
        
{% endblock article %}

{% block aside %}{% endblock aside %}