{% extends '::frontend.html.twig' %}

{% block title 'Perfil' %}

{% block article %}
    <h1>{{ block('title')                               }}</h1>
    
    {% for mensaje in app.session.flashbag.get('info') %}
        <p class="info">{{ mensaje }}</p>
    {% endfor %}    

        
    <form action="{{ path('usuario_perfil') }}" method="post" {{ form_enctype(formulario) }}>
    
    <div class="errors">
        {{ form_errors(formulario) }}
    </div>

    {#
    <div>
        {{ form_row(formulario.nombre) }}
        {{ form_row(formulario.apellidos) }}
    </div>

    <div>
        {{ form_row(formulario.fecha_nacimiento) }}
    </div>

    <div>
        <label for="usuario_modificar_password_ant" class="required">Contraseña vieja</label>
        <input type="password" id="usuario_modificar_password_ant" name="usuario_modificar[password][ant]" />
    </div>        
    #}
        
        
    {#
    #}
    {{ form_rest(formulario) }}
        
    <input class="boton" type="submit" value="Guardar cambios" />
    
    <hr />
    
    
    <div><p><a href="{{ gravatarUrl }}" title="cambie su avatar en Gravatar.com"><img src="{{ avatar }}" /></a></p></div>
    <div><p><label>Email           </label>{{ usuario.email            }}</p></div>
    <div><p><label>Fecha alta      </label>{{ usuario.fechaAlta       | date('d/m/Y')      }}</p></div>
    <div><p><label>Conexiones      </label>{{ usuario.conexiones       }}</p></div>
    <div><p><label>Última conexión </label>{{ usuario.ultimaConexion | date('d/m/Y H:i:s')  }}</p></div>

    
    </form>    
    {#
    #}
    <hr />    
    <p>
    Se desactiva la cuenta (impidiéndole loguearse).
    <form action="{{ path('usuario_perfil') }}" method="post" >
        {{ operacion }}=
        <input type="number" name="resultado" value=""/>
        <input type="hidden" name="operacion" value="{{ operacion }}" />
        <input type="hidden" name="desactivar_cuenta" value="true" />
        <input class="boton" type="submit" value="Desactivar cuenta" />
    </form>    
    </p>

{% endblock article %}