{% extends '::frontend.html.twig' %}

{% block title 'Registro' %}

{% block article %}
    <p><h2>{{ block('title')}}</h2></p>
    
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="flash-message">{{ flashMessage }}</div>
        {% if codigo is not null %}
            <!--<a href="{{ link~codigo }}"><h3>ACTIVAR CUENTA</h3></a>-->
        {% endif %}
    {% endfor %}    
    
    <form action="{{ path('usuario_registro') }}" method="post" {{ form_enctype(formulario) }}>
        
{# 
        {{ form_widget(formulario) }}
        {{ form_errors(formulario) }}

        {{ form_row(formulario) }}
#}
{#           
        <fieldset>
           <legend><h2>Datos de acceso</h2></legend>
           {{ form_row(formulario.email) }}
           {{ form_row(formulario.password) }}
        </fieldset>
            
        <fieldset>
           <legend><h2>Otros datos</h2></legend>
           {{ form_row(formulario.nombre) }}
           {{ form_row(formulario.apellidos) }}
           {{ form_row(formulario.fecha_nacimiento) | date('d/m/Y H:i:s') }}
        </fieldset>
#}

 
{# 
#}
        {{ form_rest(formulario) }}

            
        <input class="boton" type="submit" value="Registrarse" />
    </form>
{% endblock article %}
 
{% block aside %}{% endblock %}    