{% extends '::frontend.html.twig' %}

{% block title 'Editar Viaje' %}

{% block article -%}
    <h1>Editar viaje</h1>

    <form action="{{ path('viaje_actualizar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <button type="submit">Guardar</button>
    </form>

    <form action="{{ path('viaje_borrar', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit">Eliminar</button>
    </form>    
    
    <form action="{{ path('viaje_opciones', { 'id': entity.id }) }}" method="post" {#{{ form_enctype(edit_form) }}#}>
{#
        <input type="hidden" name="_method" value="PUT" />

        {{ form_widget(edit_form) }}

#}
        <button type="submit">Opciones</button>
    </form>    
    <form action="{{ path('viaje_mostrar', { 'id': entity.id }) }}" method="post" >
        <button type="submit">Mostrar</button>
    </form>    

    <pre>
    {{entity.id}}
    {{entity.nombre}}
    {{entity.opciones}}
    </pre>
{% endblock %}
{% block aside %}
    <ul class="record_actions">
        <li><a href="{{ path('viaje') }}"        >mis viajes</a></li>      
    </ul>   
{% endblock %} 