{% extends '::frontend.html.twig' %}

{% block title 'Editar Viaje' %}

{% block stylesheets %}
    {{ parent() }}
<style>
#boton_1{margin-top:1em;float:left;}        
#boton_2{margin-top:1em;float:right;}        
</style>
{% endblock %}  

{% block article -%}
    <p><h1>Editar viaje</h1></p>

    <form action="{{ path('viaje_actualizar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <button type="submit" class="boton" id="boton_1">Guardar</button>
    </form>

    <form action="{{ path('viaje_borrar', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="boton" id="boton_2">Eliminar</button>
    </form>    
    {#
    <form action="{{ path('viaje_opciones', { 'id': entity.id }) }}" method="post" >
        <button type="submit">Opciones</button>
    </form>
    
    <form action="{{ path('viaje_mostrar', { 'id': entity.id }) }}" method="post" >
        <button type="submit">Mostrar</button>
    </form>    
    #}
{% endblock %}
{% block aside %}
    {{ parent() }}
    <section id="login">
        <a href="{{ path('viaje_opciones',  { 'id': entity.id }) }}" >Opciones</a>
    </section>       
    <section id="login">
        <a href="{{ path('viaje_mostrar',  { 'id': entity.id }) }}" >Mostrar</a>
    </section>     
{% endblock %}     