{% extends '::frontend.html.twig' %}

{% block title 'Opciones Viaje' %} 

{% block stylesheets %}
    {{ parent() }}

<style>
form label{ width:500px;    font-weight:normal;}        
form ul{    list-style:none;}
</style>

<link href="{{ asset('bundles/inicio/css/checkbox.css') }}" type="text/css" rel="stylesheet" />


{% endblock %}   

{% block article -%}
    <p><h1>Opciones del viaje: {{ entity.nombre }}</h1></p>
      
    <form action="{{ path('viaje_opciones', { 'id': entity.id }) }}" method="post">
      <p>Nombre de la ciudad a buscar:</p>
        {% if opciones['s0']['ciudad'] is defined %}
            {{ opciones['s0']['ciudad'] }}            
        {% endif %}       
      <p>
         {% if ciudad is defined %}  {% set texto = ciudad %}            
         {% else %}                  {% set texto = '' %}
         {% endif %} 
         <input type="text"   name="ciudad" value="{{texto}}" style="width:580px;height:1.5em;font-size:2em;" />
         <input type="hidden" name="acc"    value="b" />
         <input type="submit"               value="Buscar" class="boton"/>
      </p>
    </form>  
    
    {% if acc is defined %}
    {% if acc == 'b' %}
    
    
    
    
        {% if ciudad %}
         
    
        <form action="{{ path('viaje_opciones', { 'id': entity.id }) }}" method="post">
        {% set cont  = 1 %}   
        {% set sel   = 0 %}
                
        {% if places is defined %}  
        {% if places|length > 0 %}  
            <h2>Elegir una ciudad de las siguientes propuestas (desambiguación):   </h2>
            <p id="miMapa" style="margin-top:1em;width:680px;height:500px;border:1px cyan solid;" ></p>
            <ol>
            {% for p0 in places %}  
            {% for p1 in p0 %}
                {% if p1.res|length > 0 %}
                    <p><b>{{p1.txt}}</b></p>
                    {% for p2 in p1.res %}
                        {% set lat  = p2.lat|number_format(2, '.') %}
                        {% set lon  = p2.lon|number_format(2, '.') %}
                        {% set name = p2.name %}
                        <li value="{{cont}}" id="s{{sel}}-{{cont}}">
                            <input type="radio"  name="s{{sel}}"                  value="{{cont}}" />
                            <input type="hidden" name="s{{sel}}-{{cont}}_lat"     value="{{lat}}" />
                            <input type="hidden" name="s{{sel}}-{{cont}}_lon"     value="{{lon}}" />
                            <span title="Latitud" style="text-align:right;background-color:#eef;width:4em;display:inline-block;">
                            {{ lat }}
                            </span>
                            <span title="Longitud" style="text-align:right;background-color:#eef;width:4em;display:inline-block;">
                            {{ lon }}
                            </span>
                            <span title="Nombre" style="width:auto;display:inline-block;">
                            {{ name }}
                            </span>
                        </li>
                        {% set cont = cont + 1 %}
                    {% endfor %}  
                {% endif %}    
            {% endfor %}
            {% endfor %}
        {% else %}          
        <p style="color:red;">Ningún resultado.</p>
        <ol>
        {% endif %}
        {% else %}
        <ol>
        {% endif %}
                
        <p>Indicar coordenadas geográficas:</p>
        <li value="{{cont}}" id="s{{sel}}-{{cont}}">
            {% if opciones['s0'] is defined %}
                {% set lati = opciones['s0']['lat'] %}
                {% set long = opciones['s0']['lon'] %}
            {% else %}
                {% set lati = '' %}
                {% set long = '' %}                
            {% endif %}
            {% if (lati or long) is empty %} {% set checked = '' %}
            {% else %}                       {% set checked = 'checked="checked"' %}
            {% endif %} 
            <input type="radio"  name="s{{sel}}"                  value="{{cont}}"  {{checked}} />
            <input type="text"   name="s{{sel}}-{{cont}}_lat"     value="{{lati}}" style="width:4em;" title="-90 < Latitud < 90"/>
            <input type="text"   name="s{{sel}}-{{cont}}_lon"     value="{{long}}" style="width:4em;" title="-180 < Longitud < 180"/>
            latitud y longitud en formato decimal.
        </li>
        </ol>
    
    
        {% if servicios is defined and opciones['s0']['ciudad'] is defined %}
        {% if servicios %}
            <h2>Consultar información de:</h2>
            <div class="wrapper-demo">
            <ul id="demo2">
                {% for ks,vs in servicios %}
                    {% set checked = 'checked="checked"' %}
                    {% set i       = loop.index %}
                    {% set key = 's'~ks %}
                    {% if opciones[key] is defined  %} {% set checked = 'checked="checked"' %}
                    {% else %}                         {% set checked = '' %}
                    {% endif %}
                    <li>
                        <input type="checkbox" name="s{{vs['id']}}" id="Check{{i}}" value="{{vs['id']}}" {{checked}} />
                        <label for="Check{{i}}">{# {{vs['id']}} - #}{{vs['nom']}}</label>
                    </li>
                {% endfor %} 
            </ul>
            </div>            
        {% else %}
            <p style="color:red;">Ningún servicio disponible.</p>
        {% endif %}
        {% endif %}    
    
        <input type="hidden" name="ciudad" value="{{ciudad}}" />
        <input type="hidden" name="acc"    value="g" />
        <input type="submit"               value="Guardar opciones" class="boton" style="height:3em;width:39em;margint-left:20em;"/>
        </form>

        {% endif %}  
    
    {% endif %}
    {% endif %}
    


{% endblock %}
            
{% block aside %}
    {{ parent() }}
    <section id="login">
        <a href="{{ path('viaje_editar',  { 'id': entity.id }) }}" >Editar</a>
    </section>    
    <section id="login">
        <a href="{{ path('viaje_mostrar', { 'id': entity.id }) }}" >Mostrar</a>
    </section>
{% endblock %} 
            
 {% block javascripts %}
    {{ parent() }}
        
    {% if acc is defined and places is defined %}
    {% if acc == 'b' %}         
    <script type="text/javascript"  src="http://www.openlayers.org/api/OpenLayers.js"></script>  
    <script type="text/javascript">                                                            
    //http://harrywood.co.uk/maps/examples/openlayers/simple-marker.html
    //http://www.openlayers.org/dev/examples/markers.html
    //http://wiki.openstreetmap.org/wiki/OpenLayers_Marker_Example

     var mapa        = new OpenLayers.Map("miMapa");   

     mapa.addControl(new OpenLayers.Control.LayerSwitcher(true));                             
     mapa.addControl(new OpenLayers.Control.ScaleLine());       
    //mapa.addControl(new OpenLayers.Control.Permalink());
    //mapa.addControl(new OpenLayers.Control.Permalink('permalink'));
    //mapa.addControl(new OpenLayers.Control.MousePosition({ numDigits: 2 }));                 
    //mapa.addControl(new OpenLayers.Control.PanZoomBar());     

     var markers = new OpenLayers.Layer.Markers( "Markers" );

     var layerBase   = new OpenLayers.Layer.OSM("Simple OSM Map");
     mapa.addLayer(layerBase);  

     var lat        = 0;
     var lon        = 0;
     var zoom       = 0;
     
     var lonLat1      = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"),mapa.getProjectionObject());
     var marcador1    = new OpenLayers.Marker(lonLat1);
     
     var size     = new OpenLayers.Size(20,20);
   //var offset   = new OpenLayers.Pixel(-(size.w/2), -size.h);     
   //var icon     = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
            
    {% set i  = 0 %}             
    {% if places|length > 0 %}
        {% for p0 in places %}
        {% for p1 in p0 %}
            {% if p1.res|length > 0 %}
                {% for p2 in p1.res %}
                    {% set i = i + 1 %}
                    {% set lat  = p2.lat %}
                    {% set lon  = p2.lon %}
                    {% set name = p2.name %}
                    var lonLat{{i}}   = new OpenLayers.LonLat({{lon}},{{lat}}).transform(new OpenLayers.Projection("EPSG:4326"),mapa.getProjectionObject());
                    var marcador{{i}} = new OpenLayers.Marker(lonLat{{i}});
                    markers.addMarker(marcador{{i}});
                {% endfor %}  
            {% endif %}    
        {% endfor %}
        {% endfor %}
    {% endif %}      

    {% set i  = 0 %}    
    {% if places|length > 0 %}
        {% for p0 in places %}
        {% for p1 in p0 %}
            {% if p1.res|length > 0 %}
                {% for p2 in p1.res %}
                    {% set i  = i + 1 %}  
                    {% set lat  = p2.lat %}
                    {% set lon  = p2.lon %}
                    {% set name = p2.name %}
                    marcador{{i}}.events.register("click", marcador{{i}}, function(e){
                    text='<a href="#s0-{{i}}" width="20" height="2">{{name}}</a>';
                    popup = new OpenLayers.Popup.FramedCloud("chicken",lonLat{{i}},size,text,null, true);
                    mapa.addPopup(popup);});
                {% endfor %}  
            {% endif %}    
        {% endfor %}
        {% endfor %}
    {% endif %}     

     mapa.setCenter (lonLat1, zoom);

     mapa.addLayer(markers);

    </script>    
    {% endif %}   
    {% endif %}
    
    
   
    <script src="{{ asset('bundles/inicio/js/checkbox/jquery-1.9.1.min.js')    }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/inicio/js/checkbox/jquery-checkbox-2.0.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                $('#demo1 input').checkbox();

                $('#demo2 input').checkbox({
                        className:      'jquery-switch',
                        checkedClass:   'jquery-switch-on'
                });

                $('#demo3 input').checkbox({
                        className:      'jquery-tick',
                        checkedClass:   'jquery-tick-on'
                });
        });
    </script>     

{% endblock %}          